<template>
    <div class="character-card" :id="'character-card-'+character.id">
      <va-card>
        <va-image
          :src="character.image"
        />
        <va-card-title class="character-card-name">{{ character.name }}</va-card-title>
        <va-card-actions align="stretch" vertical>
          <router-link :to="{ name: 'detail-character', params: { id: character.id } }">
            <va-button class="character-card-navigation">{{ $t('show') }}</va-button>
          </router-link>
        </va-card-actions>
      </va-card>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CharacterCard',

  props: {
    character: Object,
  },
});
</script>

<style>
.character-card {
  min-width: 10rem;
  max-width: 15rem;
}
</style>
