<template>
    <div class="character-info">
        <div class="character-row">
            <div class="row-item character-image"><img :src="character.image" alt="" /></div>
            <va-divider vertical />
            <div class="row-item character-description">
              <div class="description-item character-name">
                  {{ character.name }} ({{ $t(character.status.toLowerCase()) }})
              </div>
              <div class="description-item character-species-gender">
                  {{ character.species }}
                  <span v-if="character.type !== ''">({{ character.type }})</span>
                   - {{ $t(character.gender.toLowerCase()) }}
              </div>
                <div class="description-item character-origin">
                    Origine :
                    <template v-if="character.origin.url !== ''">
                        <a :href="character.origin.url" target=”_blank”>
                            {{ character.origin.name }}
                        </a>
                    </template>
                    <template v-else>{{ character.origin.name }}</template>
                </div>
                <div class="description-item character-location">
                    Derniere localisation :
                    <template v-if="character.location.url !== ''">
                        <a :href="character.location.url" target=”_blank”>
                            {{ character.location.name }}
                        </a>
                    </template>
                    <template v-else>{{ character.location.name }}</template>
                </div>
            </div>
            <va-divider vertical />
            <div class="row-item character-episodes">
            <va-list fit>
                <va-list-label>
                    Episodes
                </va-list-label>
                    <va-list-item
                        v-for="(episode, index) in character.episode"
                        :key="index" class="episode"
                    >
                        <a :href="episode" target="_blank">{{ episode }}</a>
                    </va-list-item>
                </va-list>
            </div>
            <div class="row-item character-created">Ajouté le {{ getCreated }}</div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CharacterInfo',
  props: {
    character: Object,
  },
  computed: {
    getCreated() {
      if (this.character !== undefined) {
        return new Date(this.character.created).toLocaleDateString('fr');
      }

      return '';
    },
  },
});
</script>

<style>
.character-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.character-description {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.description-item {
    padding-top: 0.5rem;
}

.row-item {
    padding: 2rem;
}

.character-created {
    text-align: right;
    font-size: 75%;
}

.character-episodes {
    text-align: left;
    max-height: 20rem;
    overflow-y: scroll;
}

.episode {
    padding-top: 0.5rem;
}
</style>
