<template>
    <div id="page-head" class="breadcrumb">
        <div>
            <h1>Rick & Morty !</h1>
        </div>

        <div class="link-breadcrumb">
          <template v-for="(bread, index) in breadcrumbList" :key="index">
            <router-link
              :to="{ name: bread.link, params: bread.params }"
              v-if="this.$route.name !== bread.link"
              >
              {{ bread.name }}
            </router-link>
            <span v-else>{{ bread.name }}</span>
            <template v-if="index !== (breadcrumbList.length - 1)"> / </template>
          </template>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Breadcrumb',
  created() {
    this.updateList();
  },

  data() {
    return {
      breadcrumbList: [],
    };
  },

  watch: {
    $route: {
      handler(value) {
        this.updateList(value);
        document.title = value.meta.title;
      },
    },
  },

  methods: {
    // Update breadcrumb from a list of route
    updateList(value?: Record<string, unknown>) {
      // eslint-disable-next-line @typescript-eslint/no-explicit-any
      const newRoute: any = this.$route.meta.breadcrumb;

      // We just add parameters to the route to redirect to the proper route
      if (value && value.params && newRoute) {
        newRoute[newRoute.length - 1].param = value.params;
      }
      this.breadcrumbList = newRoute;
    },
  },
});
</script>

<style scoped>
.breadcrumb {
    padding: 2rem !important;
}

.link-breadcrumb {
  text-align: left;
}
</style>
