<template>
    <va-pagination
        v-model="currentPage"
        :pages="totalPages"
        :visible-pages="4"
        @click="fetchNextCharacters()"
    />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  name: 'Pagination',
  data() {
    return {
      currentPage: 1,
    };
  },
  created() {
    this.$watch('lastQueryParams.page', (value: number) => {
      this.currentPage = value;
    });
  },
  computed: {
    ...mapGetters({
      totalPages: 'getTotalPages',
      lastQueryParams: 'getLastQuery',
    }),
  },
  methods: {
    // Fetch next page of characters
    async fetchNextCharacters() {
      this.$store.commit('setLastQuery', { ...this.lastQueryParams, page: this.currentPage });
      this.$store.dispatch('fetchCharacters');
    },
  },
});
</script>
