<template>
    <div class="search-form" @submit="onSearch()">
        <va-input
            id="search-form-name"
            class="name-input mb-4 search-item"
            v-model="queryParams.name"
            placeholder="Rick, Morty, Jerry, ..."
        >
          <template #appendInner>
            <va-icon
              name="clear"
              @click="onClearName()"
            />
          </template>
        </va-input>

        <div id="search-form-status">
          <va-radio
            v-for="(option, index) in characterOptions"
            :key="index"
            v-model="queryParams.status"
            :label="$t(option)" :option="option"
          />
        </div>

        <va-button-group>
          <va-button @click="onSearch()"
          id="search-form-submit"
          icon="search" type="submit" class="search-item">
            {{ $t('search') }}
          </va-button>

          <va-button id="search-form-reset"
            @click="onClearForm()" icon="clear" class="search-item">
            {{ $t('clear') }}
          </va-button>
        </va-button-group>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SearchForm',
  created() {
    this.queryParams = this.$store.getters.getLastQuery;
  },
  data() {
    return {
      queryParams: {
        gender: '',
        name: '',
        status: '',
        species: '',
        type: '',
        page: 1,
      },
      characterOptions: ['alive', 'dead', 'unknown'],
    };
  },

  methods: {
    // Search character from params of form
    onSearch() {
      this.$store.commit('setLastQuery', this.queryParams);
      this.$store.dispatch('fetchCharacters');
    },

    // Clear the name input
    onClearName() {
      this.queryParams.name = '';
      this.$store.commit('setLastQuery', this.queryParams);
      this.$store.dispatch('fetchCharacters');
    },

    // Clear the whole form
    onClearForm() {
      this.queryParams = {
        gender: '',
        name: '',
        status: '',
        species: '',
        type: '',
        page: 1,
      };
      this.$store.commit('setLastQuery', this.queryParams);
      this.$store.dispatch('fetchCharacters');
    },
  },
});
</script>

<style>
.search-form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: baseline;
}

.search-item {
  margin-right: 1rem;
}

.name-input {
  width: 20rem;
  margin-right: 1rem;
}
</style>
