<template>
    <div class="character-detail">
        <div v-if="character === null">
          <div v-if="loading" class="loader">
            <va-progress-circle indeterminate />
          </div>
          <div v-else>Le personnage que vous avez demandé n'existe pas</div>
        </div>

        <div v-else>
          <CharacterInfo :character="character" />
        </div>
    </div>
</template>

<script lang="ts">
import CharacterInfo from '@/components/character/CharacterInfo.vue';
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  components: { CharacterInfo },
  name: 'CharacterDetail',
  created() {
    if (this.$store.getters.getSelectedCharacter === null) {
      this.$store.commit('setLoading', true);
      this.$store.dispatch('fetchCharacter', Number(this.$route.params.id));
    }
  },
  computed: {
    ...mapGetters({
      character: 'getSelectedCharacter',
      loading: 'getLoading',
    }),
  },
});
</script>

<style>
.loader {
  margin-inline: 48%;
}
</style>
