<template>
    <div class="characters-list">
        <SearchForm />

        <div v-if="characters.length === 0">
          Aucun résultat trouvé
        </div>

        <div v-else>
          <div class="characters-list-cards">
            <CharacterCard class="characters-list-card"
            v-for="character in characters" :key="character.id"
            :character="character" />
          </div>

          <Pagination class="characters-list-pagination" />
        </div>
    </div>
</template>

<script lang="ts">
import CharacterCard from '@/components/character/CharacterCard.vue';
import Pagination from '@/components/list-character/Pagination.vue';
import SearchForm from '@/components/list-character//SearchForm.vue';
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  components: { SearchForm, CharacterCard, Pagination },

  created() {
    this.$store.dispatch('fetchCharacters');
    this.$store.commit('setSelectedCharacter', null);
  },
  computed: {
    ...mapGetters({
      lastQueryParams: 'getLastQuery',
      characters: 'getCharactersList',
    }),
  },
});
</script>

<style>
.characters-list {
  padding: 2rem;;
}

.characters-list-cards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.characters-list-cards > div {
  margin-block: 1rem;
  padding-left: 1rem;
}

.characters-list-card {
  flex: 0 1 24%;
}

.characters-list-pagination {
  padding-left: 33%;
}
</style>
